$base-color: rgb(243, 241, 241);

html {
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $base-color;
}

.delete {
  &__button {
    cursor: pointer;
  }
}

.grid {
  &__content {
    margin-top: 50px;
    max-width: 50%;
    display: grid;
    grid-gap: 1px;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    border: 1px solid black;
  }
  &__cell {
    align-items: center;
    margin: 0;
    padding: 16px 0;
    background-color: $base-color;
  }
}

header,
main,
.grid__cell {
  display: flex;
  justify-content: center;
}

header {
  margin-top: 50px;
}

img {
  width: 20px;
  margin-left: 8px;
}

.nav {
  &__link {
    text-decoration: none;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: antiquewhite;
  }
}
